<h3> New Track </h3>

<%= @track.errors.first %>

<%= form_for @track do |f| %>

  <div class="col-auto">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Name</span>
        </div>
        <%= f.text_field :name %>
      </div>
  </div>

  <div class="col-auto">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Album</span>
        </div>
        <%= f.select :album_id, options_for_select(@albums.collect{ |album| [album.title, album.id] },params[:album_id]),{}%>
      </div>
    </div>

    <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Media type</span>
          </div>
          <%= f.text_field :media_type_id %>
        </div>
    </div>

    <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Genre</span>
          </div>
          <%= f.text_field :genre_id %>
        </div>
      </div>

      <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Composer</span>
            </div>
            <%= f.text_field :composer %>
          </div>
      </div>

      <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Milliseconds</span>
            </div>
            <%= f.text_field :milliseconds %>
          </div>
        </div>

        <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Size (bytes)</span>
              </div>
              <%= f.text_field :bytes %>
            </div>
        </div>

        <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Unit-price</span>
              </div>
              <%= f.text_field :unit_price %>
            </div>
          </div>

    <%= f.submit 'Save', class: "btn btn-primary" %>

    <%= link_to "Cancel", "/tracks", class: "btn btn-secondary" %>

    <%= link_to "Back to Albums", "/albums", class: "btn btn-secondary" %>

<% end %>
