<h3> Showing Track </h3>

<button type="button" class="btn btn-primary"><%= link_to  "Edit", edit_track_path, class: "link" %></button>

<fieldset>
  <b> ID: </b> <%= @track.id %> <br>
  <b> Name: </b> <%= @track.name %> <br>
  <b> Album: </b> <%= @track.album.title %> <br>
  <b> Media Type: </b> <%= @track.media_type.name %> <br>
  <b> Genre: </b> <%= @track.genre.name %> <br>
  <b> Composer: </b> <%= @track.composer %> <br>
  <b> Milliseconds: </b> <%= @track.milliseconds %> <br>
  <b> Size (bytes): </b> <%= @track.bytes %> <br>
  <b> Unit Price: </b> <%= @track.unit_price %> <br>
  <b> Created at: </b> <%= format(@track.created_at) %> <br>
  <b> Updated at: </b> <%= format(@track.updated_at) %> <br>

<button type="button" class="btn btn-primary"><%= link_to "Back", "/tracks", class: "link" %></button>
</fieldset>
