<h3>All Artists</h3>

<%=link_to "Create Artist", new_artist_path %>

<%= form_tag("/artists", method: "get") do %>
  <%= label_tag(:name, "Filter:") %>
  <%= text_field_tag(:name, params['name']) %>
  <%= submit_tag("Submit") %>
<% end %>

<ol>
  <% @artists.each do |artist| %>
      <li> <%= link_to artist.name, artist %> </li>
  <% end %>
</ol>
