<h3>All Artists</h3>

  <%= form_tag("/artists", method: "get") do %>
      <form>
      <div class="col-7">
        <div class="form-row align-items-center">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <%= label_tag(:name, "Filter:", class: "input-group-text") %>
              </div>
              <%= text_field_tag(:name, params['name'], class: "mr-3") %>
              <%= submit_tag("Submit", class: "btn btn-outline-success mr-2") %>
              <%=link_to "Create Artist", new_artist_path, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </form>

  <% end %>

  <ol>
    <% @artists.each do |artist| %>
        <li> <%= link_to artist.name, artist %> </li>
    <% end %>
  </ol>
