<h3> New Artist </h3>

<%= @artist.errors.first %>

<%= form_for @artist do |i| %>

    <%= i.text_field :name %>

    <button type="button" class="btn btn-outline-primary"><%= i.submit 'Save', class: "link" %></button>
    <button type="button" class="btn btn-outline-primary"><%= link_to "Cancel", "/artists", class: "link" %></button>

<% end %>
