<h3> Showing Albums of <%= @artist.name %> </h3>

    <div class="mb-3">
      <%= link_to  "Edit Artist", edit_artist_path, class: "btn btn-outline-info" %>

      <%= link_to  "Create new album for #{@artist.name}", new_album_path, artist_id: @artist.id, class: "btn btn-primary" %>
    </div>

<fieldset>

  <% @albums.each do |album| %>

      <div class="card mb-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"> <%= album.title %> </h5>
        <p class="card-text">
        <b> Tracks:     </b> <%= Track.where(album_id: album.id).count %> <br>
        <b> Created at: </b> <%= format(album.created_at) %> <br>
        <b> Updated at: </b> <%= format(album.updated_at) %> <br>
       </p>
        <%= link_to "Go to Tracks", "/albums/#{album.id}", class: "btn btn-info" %>
      </div>
    </div>
 <% end %>

<%= link_to "Back", "/artists", class: "btn btn-secondary" %>
</fieldset>
