<h3>All Albums</h3>

<%= form_tag("/albums", method: "get") do %>
    <form>
    <div class="col-7">
      <div class="form-row align-items-center">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <%= label_tag(:title, "Filter:", class: "input-group-text") %>
            </div>
            <%= text_field_tag(:title, params['title'], class: "mr-3") %>
            <%= submit_tag("Submit", class: "btn btn-outline-success mr-2") %>
            <%=link_to "Create Album", new_album_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </form>

<% end %>

<ol>
  <% @albums.each do |album| %>
      <li> <%= link_to album.title, album %> </li>
  <% end %>
</ol>
